<h1 class="h4 titulo mb-2">Pesquisa de Produtos</h1>
<p *ngIf="!produtos">Carregando Produtos...</p>

<button class="btn btn-primary mb-2" (click)="adicionarProduto()">Adicionar Produtos</button>

<table class="table table-hover" *ngIf="produtos">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Descrição</th>
      <th>Preço</th>
      <th>Imagem</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let p of produtos">
      <td style="width:10%; height:10%">{{p.nome}}</td>
      <td style="width:40%; height:10%">{{p.descricao}}</td>
      <td style="width:15%; height:10%">
        <input currencyMask class="form-control" [(ngModel)]="p.preco" [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }" disabled />
      </td>
      <td style="width:15%; height:10%"><img src="../../../../../arquivos/{{p.nomeArquivo}}" style="width:40%; height:10%" /></td>
      <td style="width:10%; height:10%"><button class="btn btn-success btn-sm" (click)="editarProduto(p)">Editar</button></td>
      <td style="width:10%; height:10%"><button class="btn btn-danger btn-sm" data-toggle="modal" (click)="deletarProduto(p)">Deletar</button></td>
    </tr>
  </tbody>
</table>

<nav aria-label="...">
  <ul class="pagination pagination-lg">
    <li class="page-item" *ngFor="let t of indicePaginas; let i = index">
      <a class="page-link page-item" (click)="paginacao(i)">{{i + 1}}</a>
    </li>
  </ul>
</nav>
