<h1 class="h4 titulo">Dados para Entrega</h1>
<label for="inputCep" class="sr-only">CEP</label>
<input type="text" id="inputCep"
       name="cep"
       placeholder="Informe o CEP para entrega"
       class="form-control mb-2 col-md-4"
       [ngClass]="{
          'is-invalid': cep.invalid && (cep.dirty || cep.touched),
          'is-valid': cep.valid && (cep.dirty || cep.touched)
       }"
       [(ngModel)]="pedido.cep"
       #cep="ngModel"
       required />
<div class="invalid-feedback mb-2" *ngIf="cep.invalid && (cep.dirty || cep.touched)">
  <div *ngIf="cep.errors.required">
    CEP é de preenchimento obrigatório
  </div>
</div>

<label for="inputUf" class="sr-only">Uf</label>
<input type="text" id="inputUf"
       name="uf"
       placeholder="Informe o estado para entrega"
       class="form-control mb-2 col-md-4"
       [ngClass]="{
          'is-invalid': uf.invalid && (uf.dirty || uf.touched),
          'is-valid': uf.valid && (cidade.dirty || uf.touched)
       }"
       [(ngModel)]="pedido.estado"
       #uf="ngModel"
       required />
<div class="invalid-feedback mb-2" *ngIf="uf.invalid && (uf.dirty || uf.touched)">
  <div *ngIf="uf.errors.required">
    Cidade é de preenchimento obrigatório
  </div>
</div>

<label for="inputCidade" class="sr-only">Cidade</label>
<input type="text" id="inputCidade"
       name="cidade"
       placeholder="Informe a cidade para entrega"
       class="form-control mb-2 col-md-4"
       [ngClass]="{
          'is-invalid': cidade.invalid && (cidade.dirty || cidade.touched),
          'is-valid': cidade.valid && (cidade.dirty || cidade.touched)
       }"
       [(ngModel)]="pedido.cidade"
       #cidade="ngModel"
       required />
<div class="invalid-feedback mb-2" *ngIf="cidade.invalid && (cidade.dirty || cidade.touched)">
  <div *ngIf="cidade.errors.required">
    Cidade é de preenchimento obrigatório
  </div>
</div>

<label for="inputEndereco" class="sr-only">Endereco</label>
<input type="text" id="inputEndereco"
       name="endereco"
       placeholder="Informe o endereço para entrega"
       class="form-control mb-2 col-md-4"
       [ngClass]="{
          'is-invalid': endereco.invalid && (endereco.dirty || endereco.touched),
          'is-valid': endereco.valid && (endereco.dirty || endereco.touched)
       }"
       [(ngModel)]="pedido.enderecoCompleto"
       #endereco="ngModel"
       required />
<div class="invalid-feedback mb-2" *ngIf="endereco.invalid && (endereco.dirty || endereco.touched)">
  <div *ngIf="endereco.errors.required">
    Endereço é de preenchimento obrigatório
  </div>
</div>


<div class="form-inline">
  <button class="btn btn-primary" style="margin-right:4px;" (click)="efetivarCompra()" [disabled]="ativar_spinner">
    <span class="spinner-border spinner-border-sm" *ngIf="ativar_spinner"></span>
    Finalizar
  </button>
  <button class="btn btn-secondary " [routerLink]="['/loja-efetivar']">Cancelar</button>
</div>


